<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Authorization</title>
	<th:block th:insert="~{fragments/headSettings::headSettings}"/>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"/>
<div class="formDiv container">
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<form action="/authorization" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<div class="mb-3">
					<label for="exampleInputLogin" class="form-label">Login</label>
					<input type="text" name="username" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword" class="form-label">Password</label>
					<input type="password" name="password" class="form-control" id="exampleInputPassword">
				</div>
				<input type="submit" value="Login" class="btn btn-primary"/>
			</form>
		</div>
		<div class="col"></div>
	</div>
</div>
</body>
</html>