<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Client UPD</title>
    <th:block th:insert="~{fragments/headSettings::headSettings}"/>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"/>
<div id="clientForm">
    <form method="post" th:action="@{/clientUpdateForm}" th:object="${client}">
        <input type="hidden" name="id" th:value="${client.id}">
        <input type="text" placeholder="Name" name="name" th:value="${client.name}">
        <input type="text" placeholder="Surname" name="surname" th:value="${client.surname}">
        <input type="date" name="birthday" min="1900-01-01" th:value="${client.birthday}">
        <select name="gender" id="gender">
            <option th:each="gender:${T(com.example.clientsservice.models.Client.Gender).values()}"
                    th:value="${gender}" th:text="${gender}"
                    th:selected="${gender == client.gender}"></option>
        </select>
        <input type="text" placeholder="Email" name="email"  th:value="${client.email}">
        <input type="submit" value="SAVE" id="submitBtn">
    </form>
</div>
<div>
    <form method="post" th:action="@{addPhoneForm}">
        <input type="hidden" th:name="clientId" th:value="${client.id}">
        <input type="text" name="phone">
        <input type="submit" value="Add">
    </form>
</div>
<div>
    <form method="post" th:action="deletePhoneForm">
        <input type="hidden" th:name="clientId" th:value="${client.id}">
        <th:block th:each="phone:${phones}">
            <div>
                <button type="submit" name="phoneDelete" th:value="${phone.id}">X</button>
                <input type="text" th:name="${phone.id}" th:value="${phone.phone}" disabled>
            </div>
        </th:block>
    </form>

</div>
</body>
</html>